*{
    margin: 0px;
    padding: 0px;
}
.text-align{
    text-align: center;
}
::-webkit-scrollbar{
    overflow: hidden;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scope{
    background-color: rgba(200, 200, 200, 0.5);
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 1%;
}

.header{
    background-color: black;
    color: white;
    align-self: stretch;
}

.display{
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 100px;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#equation{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
}
#result{
    font-size: 2rem;
    overflow: auto;
}
.numbers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.small-container{
    margin: 0.5%;
    width: 24%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}
.small-container:hover{
    background-color: rgba(255, 255, 0, 0.4);
}
.zero{
    width: 49%;
}
.red{
    background-color: rgba(220, 0, 0, 0.65);
    color: white;
}

@media  screen and (max-width: 600px) {
    .scope{
        width: 95%;
    }
}